EXPO_PUBLIC_API_URL="http://localhost:6000/v1"
EXPO_PUBLIC_MAPBOX_KEY="your_mapbox_public_key"
EXPO_PUBLIC_MAPBOX_TOKEN="your_mapbox_public_token"
MAPBOX_DOWNLOADS_TOKEN="your_mapbox_downloads_token"
